<template>
  <div class="account" v-if="user">
    <h1>Hello {{user.name}}</h1>
    <div class="account__info">
      <div>Account ID: #{{accountId}}</div>
      <div>Age: {{user.age}}</div>
      <div>Sex: {{user.sex}}</div><br>
      <div>Available rates:
        <div
          v-for="(value, key) in availableRate"
          :key="key"
        >
          <span v-if="value.isAvailabale">{{value.rate}} UAH</span>
          <strike v-else>{{value.rate}} UAH</strike>
        </div>
      </div>
      <br>
      <div>Total cash: {{totalCash}} UAH</div>
    </div>
    <br>
    <v-divider></v-divider>
    <br>
    <div class="account__action">
      <v-form
        ref="form"
        v-model="valid"
        :lazy-validation="lazy"
      >
        <v-text-field 
          label="Enter your amount"
          required
          :rules="amountRules"
          v-model="amount"
        ></v-text-field>

        <v-btn @click="validate();amount=''">Get money</v-btn>

      </v-form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountView',
  components: {},
  data: () => ({
    valid: true,
    lazy: false,
    amount: ''
  }),
  created () {
    this.$store.commit('totalCash', this.accountId)
  },
  computed: {
    accountId () {
      return this.$route.params.id
    },
    user () {
      return this.$store.state.users.filter(user => user.id == this.accountId)[0]
    },
    availableRate () {
      return this.$store.state.cash.filter(cash => cash.id == this.accountId)[0].rate
                .map((el, index) => ({
                  rate: this.$store.state.rates[index],
                  isAvailabale: el > 0
                }))
    },
    totalCash () {
      return this.$store.state.totalCash
    },
    amountRules () {
      return [
          v => v <= this.totalCash || 'You dont have enough cash.'
        ]
    },
    rate () {
      return this.$store.state.cash.filter(cash => cash.id == this.accountId)[0].rate
    }
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('getCash', {id: this.accountId, amount: this.amount})
      }
    }
  },
  watch: {
    rate () {
      this.$store.commit('totalCash', this.accountId)
    }
  }
}
</script>

<style lang="scss" scoped>
  .account {
    &__action {
      display: flex;
      .v-input {
        //
      }
    }
  }
</style>