<template>
  <div class="home">

    <div class="users">
      <v-row>
        <v-col 
          v-for="user in users"
          :key="user.id"
        >
          <v-card
            class="users__preview mx-auto"
            max-width="350"
            outlined
          >

            <v-list-item>

              <v-list-item-content>

                <v-list-item-title class="headline mb-1">Name: {{user.name}}</v-list-item-title>
                <v-list-item-subtitle>Account ID: #{{user.id}}</v-list-item-subtitle>

              </v-list-item-content>

            </v-list-item>

            <v-card-actions>
              <v-btn text :to="'account/' + user.id">Go to account</v-btn>
            </v-card-actions>

          </v-card>
        </v-col>
      </v-row>

    </div>

  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {},
  computed: {
    users () {
      return this.$store.state.users
    }
  }
}
</script>

<style lang="scss" scoped>
  .users {
    &__preview {
      cursor: pointer;
    }
  }
</style>
