<template>
  <div id="app">
    <v-app-bar>
      <v-toolbar-title>Terminal</v-toolbar-title>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-content>
  </div>
</template>

<style lang="scss">
//
</style>
